@import '../../index.scss';

.tourlist{
    width: 50vw;
    margin: 0 auto;
    padding: 2rem 0;
    color: $mainGold;
}
.container{
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
    
}
