*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
$mainBlack: #222;
$mainWhite: #fff;
$mainGrey: #464605;
$mainRed: #b51631;
$mainGold: #e0b834;

body{
    background-color: $mainGold;
    color: $mainGrey;
    font-family: 'Maven Pro', sans-serif;
}

